.list-view{
    display: none;
}

.list-previous-rulings-main-container {
    width: auto;
    margin-top: 0rem;
    display: block;
    padding-left: 0rem;
}

.list-previous-rulings__voting-card {
    margin-bottom: 1rem;
}

#Kanye_list {
    position: relative;
    width: auto;
    min-width: 350px;
    max-width: auto;
    height: 180px;
    padding: 0;
    background:
        1vw 0/30vw
        no-repeat url('../assets/img/kanye_rectangle.png');
    background-position: left;
    background-size: 100%;
    background-position-y: 40%;
}


#Mark_list {
    position: relative;
    width: auto;
    min-width: 350px;
    max-width: auto;
    height: 180px;
    padding: 0;
    background:
        1vw 0/30vw
    no-repeat url('../assets/img/mark_rectangle.png');
    background-position: left;
    background-size: 100%;
    background-position-y: 40%;
}

#Cristina_list {
    position: relative;
    width: auto;
    min-width: 350px;
    max-width: auto;
    height: 180px;
    padding: 0;
    background:
        1vw 0/30vw
    no-repeat url('../assets/img/cristina_rectangle.png');
    background-position: left;
    background-size: 100%;
    background-position-y: 40%;
}

#Malala_list {
    position: relative;
    width: auto;
    min-width: 350px;
    max-width: auto;
    height: 180px;
    padding: 0;
    background:
        1vw 0/30vw
    no-repeat url('../assets/img/malala_rectangle.png');
    background-position: left;
    background-size: 100%;
    background-position-y: 40%;
}

#Elon_list {
    position: relative;
    width: auto;
    min-width: 350px;
    max-width: auto;
    height: 180px;
    padding: 0;
    background:
        1vw 0/30vw
    no-repeat url('../assets/img/elon_rectangle.png');
    background-position: left;
    background-size: 100%;
    background-position-y: 40%;
}

#Greta_list {
    position: relative;
    width: auto;
    min-width: 350px;
    max-width: auto;
    height: 180px;
    padding: 0;
    background:
        1vw 0/30vw
    no-repeat url('../assets/img/greta_rectangle.png');
    background-position: left;
    background-size: 100%;
    background-position-y: 40%;
}

.list-voting-card__content {
    display: flex;

}

    /* Single icon */
.list-voting-card__content > .list-icon-button {
    width: 3%;
    height: 1.9rem;
    margin-top: 0rem;
    margin-left: 0.02rem;
    margin-right: 3.5rem;
}

.list-voting-card__content > .list-icon-button > img {
    width: 1rem;
    margin-top: 0.4rem;
    margin-left: 0.45rem;
}

    /* Title and description */

.list-voting-card__title h3 {
    margin-left: 7rem;
    margin-top: 0.4rem;
    font-size: 2.1rem;
    font-weight: 400;
    color: var(--color-white);
}

.list-voting-card__desc {
    display: -webkit-box;
    overflow: hidden;
    max-height: 10.5rem;
    -webkit-box-orient: vertical;
    font-size: 0.9rem;
    font-weight: 400;
    -webkit-line-clamp: 6;
    text-overflow: ellipsis;
    color: var(--color-white);
    margin-left: 7rem;
}


/* Time info and voting buttons */

.list-voting-card__time-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.list-voting-card__time-info {
    color: var(--color-white);
    font-weight: 400;
    font-size: 0.8rem;
    text-align: right;
}

.list-voting-card__buttons {
    display: flex;
    align-items: center;
}

.list-voting-card__buttons > .list-icon-button {
    width: 19%;
    height: 2rem;
    margin-right: 0.75rem;
}

.list-voting-card__buttons > .list-icon-button > img {
    max-width: 2rem;
    margin-top: 0.2rem;
}

.list-vote-button {
    background-color: rgba(0,0,0,0.7);
    color: var(--color-white);
    border-color: var(--color-white);
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}


/* Gauge bar */
.list-gauge-bar {
    margin-top: 1.7rem;
    display: flex;
    opacity: 0.9;
}

.list-gauge-bar-left {
    width: 50%;
    height: 2.5rem;
    display: flex;
}

.list-gauge-bar-left img {
    max-width: 1.25rem;
    margin: 0.5rem 0rem 0.5rem 0.5rem;
}

.list-gauge-bar-left h4 {
    margin: 0.4rem;
    color: var(--color-white);
    font-size: 1.5rem;
    text-align: left;
    vertical-align: middle;
    padding: 0px;
    font-weight: 400;

}

.list-gauge-bar-right {
    width: 50%;
    height: 2.5rem;
    display: flex;
    gap: 2;
    float: right;
}

.list-gauge-bar-right h4 {
    margin: 0.4rem;
    color: var(--color-white);
    font-size: 1.5rem;
    padding: 0px;
    font-weight: 400;
    margin-left: 25rem;
}

.list-gauge-bar-right img {
    max-width: 1.25rem;
}

.list-gauge-bar-left[aria-label="thumbs up"] {
    background-color: rgba(var(--color-green-positive), .8);
}

.list-gauge-bar-right[aria-label="thumbs down"] {
    background-color: rgba(var(--color-yellow-negative), .8);
}

.list-icon-button[aria-label="thumbs up"] {
    background-color: rgba(var(--color-green-positive), .8);
}

.list-icon-button[aria-label="thumbs up"]:hover {
    background-color: rgba(var(--color-green-positive), 1);
}

.list-icon-button[aria-label="thumbs down"] {
    background-color: rgba(var(--color-yellow-negative), .8);
}

.list-icon-button[aria-label="thumbs down"]:hover {
    background-color: rgba(var(--color-yellow-negative), 1);
}